@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Open+Sans:wght@400;600&display=swap');


:root {
  --host-primary: #ec0b43;  /*red-munsell*/
  --candidate-primary: #00b8a9; /**/
  --web-secondary: #f19143;/*sandy brown*/
  --background: #fffcef;/*ivory*/
  --text-color: #2b303a;/*gun black*/
  --heading-font: 'Secular One', sans-serif; /* Heading font */
  --common-font: 'Open Sans', sans-serif; /* Common font */
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Secular One', sans-serif;
}