@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navbar-height {
    height: 4rem; /* Default: 64px */
  }

  .page-height {
    height: calc(100vh - 4rem);
  }

  @media (min-width: 768px) {
    .navbar-height {
      height: 5rem; /* 80px */
    }

    .page-height {
      height: calc(100vh - 5rem);
    }
  }

  @media (min-width: 1024px) {
    .navbar-height {
      height: 6rem; /* 96px */
    }

    .page-height {
      height: calc(100vh - 6rem);
    }
  }
}
