/* Logo */
  
/*Other Styles*/
.glowbutton {
    background: var(--candidate-primary);
    border: none;
    font-family: inherit; 
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .glowbutton:hover {
    box-shadow: 7px 5px 56px -9px var(--candidate-primary);
    /* transform: scale(1.02); */
    background-color: var(--candidate-primary);

  }
  
  .glowbutton:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px var(--candidate-primary);
  }

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: var(--host-primary);
    --animation-color: var(--candidate-primary);
    --fs-size: 2em;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Secular One";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  .hoverText {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--background);
  }
  
  /* hover */
  .button:hover .hoverText {
    width: 100%;
    filter: drop-shadow(0 0 1px var(--animation-color));
  }
  
  /* Style for the initial text */
  .actualText {
    color: var(--background);
  }