/* Logo */
.fusionLogo {
    --border-right: 6px;
    --text-stroke-color: rgba(182, 99, 99, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 0px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Secular One";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  .fusionLogo .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  .fusionLogo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  
/*Other Styles*/
.glowbutton {
    background: var(--candidate-primary);
    border: none;
    font-family: inherit; 
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .glowbutton:hover {
    box-shadow: 7px 5px 56px -9px var(--candidate-primary);
    /* transform: scale(1.02); */
    background-color: var(--candidate-primary);

  }
  
  .glowbutton:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px var(--candidate-primary);
  }